@import '_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

// Dots
span.dot
  display: inline-block
  width: 12px
  height: 12px
  margin: -10px 5px

  &.green
    background: $green

  &.purple
    background: $purple

// Text colors
.text-pink
  color: $pink

.purple
  color: $purple

