@import '_variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

.navbar
  .dropdown:hover >.dropdown-menu
    display: block

  .dropdown-menu
    border: 0

.tooltip-inner
  padding: 8px 10px

// Dots
span.dot
  display: inline-block
  width: 12px
  height: 12px
  margin: -10px 5px

  &.green
    background: $green

  &.purple
    background: $purple

// Text colors
.text-pink
  color: $pink

.text-purple
  color: $purple

// Page headers
.hero
  h1.title
    line-height: 55px
    font-size: 3.9375rem
    font-weight: 700
    letter-spacing: -0.15px
    color: $gray-dark

    @media only screen and (max-width: 400px)
      font-size: 2.6rem
      line-height: 45px

    @media only screen and (min-width: 401px) and (max-width: 990px)
      font-size: 3rem
      line-height: 50px

  p.subtitle
    font-size: 1rem
    font-weight: 400
    letter-spacing: 0.2px
    line-height: 25px

// Default site section
.section
  h3
    width: auto
    color: $gray-dark
    font-size: 1.625rem
    font-weight: 700
    letter-spacing: -0.15px
    line-height: 30px

    @media only screen and (max-width: 670px)
      font-size: 1.25rem
      padding-top: 20px

  .subtitle
    color: $gray-light
    font-size: 0.75rem
    font-weight: 400
    letter-spacing: 0.20px
    line-height: 25px

  .btn-default
    @media only screen and (max-width: 990px)
      padding: 15px 20px

// Button
.btn
  border: 0
  border-radius: 30px
  font-size: 0.75rem
  font-weight: 700
  padding: 16px 32px

  &.btn-default
    background-color: #EAE6F0

  &.btn-gray
    color: $black
    background-color: #F4F2F7

  &:hover
    opacity: 0.9
    cursor: pointer

    &.btn-green
      color: $black

  img
    max-width: 12px
    margin-left: 8px

td
  .btn
    width: 100%
    padding: 16px 20px
