@import '_variables.sass';
@import '_bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

span.dot
  display: inline-block
  width: 12px
  height: 12px
  margin: -10px 5px

  &.green
    background: $green

  &.purple
    background: $purple
